@charset "UTF-8";
@import "./base.css";

:root {
  --bg-color: #fff;
  --logo-color: #005524;
  --title-color: #008aff;
  --table-border-color: #1f1f1f;
  --th-color: #1f1f1f;
  --td-color: #181818;
  --empty-color: gray;
  --start-btn-color: #000;
  --start-btn-bg-color: #91caff;
  --restart-btn-color: #000;
  --restart-btn-bg-color: #4096ff;
  --stop-btn-color: #000;
  --stop-btn-bg-color: #d9d9d9;
  --remove-btn-color: #000;
  --remove-btn-bg-color: #ff4d4f;
  --dialog-bg-color: #ffffff;
  --dialog-header-bg-color: #c4c4c4;
  --dialog-input-color: #000;
}

body {
  overflow-x: hidden;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app {
  width: 96%;
  max-width: 1440px;
  min-width: 375px;
  margin: 50px 0;

  .header {
    border-bottom: 2px solid var(--title-color);
    padding-bottom: 5px;
    .logo {
      color: var(--logo-color);
      margin: 0;
    }
    .title {
      color: var(--title-color);
    }
  }

  .btn {
    box-sizing: border-box;
    padding: 0;
    line-height: 30px;
    height: 30px;
    border-radius: 2px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    user-select: none;
  }

  .start-btn {
    width: 80px;
    margin-top: 18px;
    color: var(--start-btn-color);
    background: var(--start-btn-bg-color);
  }

  .restart-btn {
    padding: 0 10px;
    color: var(--restart-btn-color);
    background: var(--restart-btn-bg-color);
  }

  .stop-btn {
    padding: 0 10px;
    color: var(--stop-btn-color);
    background: var(--stop-btn-bg-color);
  }

  .remove-btn {
    padding: 0 10px;
    color: var(--remove-btn-color);
    background: var(--remove-btn-bg-color);
  }

  .table {
    width: 100%;
    margin-block-start: 18px;
    border: 1px solid var(--table-border-color);
    border-collapse: collapse;
    .empty {
      color: var(--empty-color);
      text-align: center;
      min-height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .action-container {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      gap: 10px;
      .action {
        white-space: nowrap;
        cursor: pointer;
        text-transform: uppercase;
      }
    }
  }

  .start-dialog {
    position: relative;
    padding: 70px 40px 20px 40px;
    max-width: 380px;
    background-color: var(--dialog-bg-color);
    .start-dialog-header {
      width: 100%;
      height: 50px;
      background-color: var(--dialog-header-bg-color);
      color: #fff;
      padding: 5px 10px;
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      .close-btn {
        cursor: pointer;
        margin-left: auto;
      }
    }

    .label {
      color: #c2c2c2;
    }
    .required {
      color: #ff4d4f;
    }
    .input {
      margin: 4px 0 10px 0;
      width: 100%;
      height: 26px;
      border: none;
      outline: none;
      border-color: transparent;
      border-bottom: 1px solid gray;
      background-color: transparent;
      color: var(--dialog-input-color);
    }
    .confirm-btn {
      width: 130px;
      height: 40px;
      margin-block-start: 20px;
      color: var(--start-btn-color);
      background-color: var(--start-btn-bg-color);
      float: right;
      outline: none;
    }
  }
}

td {
  padding: 8px;
  white-space: nowrap;
  color: var(--td-color);
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 240px;
}

.thead td {
  padding: 10px;
  text-transform: uppercase;
  color: var(--th-color);
  border-bottom: 1px solid var(--table-border-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1f1f1f;
    --logo-color: #5ec08c;
    --title-color: #4a9fc0;
    --table-border-color: #f1f1f1;
    --th-color: #f1f1f1;
    --td-color: #b0b0b0;
    --empty-color: gray;
    --start-btn-color: #fff;
    --start-btn-bg-color: #002c8c;
    --restart-btn-color: #fff;
    --restart-btn-bg-color: #001d66;
    --stop-btn-color: #fff;
    --stop-btn-bg-color: #141414;
    --remove-btn-color: #fff;
    --remove-btn-bg-color: #5c0011;
    --dialog-bg-color: #44494e;
    --dialog-header-bg-color: #6a6a6a;
    --dialog-input-color: #fff;
  }
}

@media screen and (max-width: 500px) {
  .index,
  .pid,
  .starter,
  .entry,
  .startTime,
  .restRestartCount,
  .args,
  .actions {
    display: none;
  }
}

@media screen and (max-width: 580px) {
  .index,
  .pid,
  .starter,
  .entry,
  .startTime,
  .args,
  .restRestartCount {
    display: none;
  }
}

@media screen and (max-width: 660px) {
  .index,
  .starter,
  .entry,
  .startTime,
  .args,
  .restRestartCount {
    display: none;
  }
}

@media screen and (max-width: 760px) {
  .starter,
  .entry,
  .startTime,
  .args,
  .restRestartCount {
    display: none;
  }
}

@media screen and (max-width: 870px) {
  .starter,
  .startTime,
  .args,
  .restRestartCount {
    display: none;
  }
}

@media screen and (max-width: 1090px) {
  .startTime,
  .args,
  .restRestartCount {
    display: none;
  }
}

@media screen and (max-width: 1300px) {
  .args,
  .restRestartCount {
    display: none;
  }
}
